:root {
  --Light-red: hsl(0, 100%, 67%);
  --Orangey-yellow: hsl(39, 100%, 56%);
  --Green-teal: hsl(166, 100%, 37%);
  --Cobalt-blue: hsl(234, 85%, 45%);

  --Light-slate-blue: hsl(252, 100%, 67%);
  --Light-royal-blue: hsl(241, 81%, 54%);

  --Violet-blue: hsla(256, 72%, 46%, 1);
  --Persian-blue: hsla(241, 72%, 46%, 0);

  --White: hsl(0, 0%, 100%);
  --Pale-blue: hsl(221, 100%, 96%);
  --Light-lavender: hsl(241, 100%, 89%);
  --Dark-gray-blue: hsl(224, 30%, 27%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--Pale-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  font-family: "Hanken Grotesk", sans-serif; 
}

/* Main Card Wrapper */
.card-wrapper {
  background-color: var(--White);
  display: flex;
  width: 100%;
  max-width: 700px; 
  border-radius: 30px; 
  box-shadow: 0 30px 60px rgba(61, 108, 236, 0.15); 
  overflow: hidden; 
}

/* LEFT SIDE (Blue Card) */
.side1 {
  background: linear-gradient(
    to bottom, 
    var(--Light-slate-blue), 
    var(--Light-royal-blue)
  );
  width: 50%;
  padding: 40px; 
  text-align: center;
  border-radius: 30px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; 
}

.side1 h1 {
  color: var(--Light-lavender);
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.side1 h2 {
  color: var(--White);
  font-size: 28px;
  font-weight: 700;
  margin-top: 20px;
}

.side1 p {
  color: var(--Light-lavender);
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
}

/* CIRCLE SCORE */
.circle-container {
  background: linear-gradient(
    to bottom,
    var(--Violet-blue),
    hsla(241, 72%, 46%, 0)
  );
  border-radius: 50%;
  width: 180px; 
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nun {
  font-size: 65px; 
  font-weight: 800;
  color: var(--White);
  line-height: 1;
}

.nun2 {
  color: var(--Light-lavender);
  font-size: 16px;
  opacity: 0.6;
}

/* RIGHT SIDE  */
.container2 {
  width: 50%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container2 h3 {
  font-size: 22px;
  font-weight: 800;
  color: var(--Dark-gray-blue);
  margin-bottom: 25px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  width: 100%; 
  padding: 15px;
  margin-bottom: 15px;
}

.item span:first-child {
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 700;
}

/* Colors Logic  */
.item1 { background-color: hsla(0, 100%, 67%, 0.05); color: var(--Light-red); }
.item2 { background-color: hsla(39, 100%, 56%, 0.05); color: var(--Orangey-yellow); }
.item3 { background-color: hsla(166, 100%, 37%, 0.05); color: var(--Green-teal); }
.item4 { background-color: hsl(234, 85%, 45%, 0.05); color: var(--Cobalt-blue); }

.score {
  color: rgb(153, 152, 152);
  font-weight: 700;
}
.score strong {
  color: var(--Dark-gray-blue);
}

/* BUTTON */
button {
  background-color: var(--Dark-gray-blue);
  color: var(--White);
  border: none;
  width: 100%; 
  padding: 18px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 15px;
  transition: all 0.1s ease; 
}

button:hover {
  background: linear-gradient(to bottom, var(--Light-slate-blue), var(--Light-royal-blue));
}

/* RESPONSIVE DESIGN (Mobile) */
@media (max-width: 600px) {
  
  .card-wrapper {
    flex-direction: column; 
    border-radius: 0;
    height: auto;
    box-shadow: none;
  }

  .side1 {
    width: 100%;
    border-radius: 0 0 30px 30px;
    padding: 30px;
  }

  .container2 {
    width: 100%;
    padding: 30px;
  }
}